<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Пациенты</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
</head>
<body>
<h1>Список всех пациентов:</h1>
<table>
    <tr>
        <th>Номер пациента</th>
        <th>Имя</th>
        <th>Медицинская информация</th>
        <th>ID работы</th>
        <th>ID организации</th>
    </tr>
    {% for patient in list_of_all_patients %}
    <tr>
        <td>{{ patient.patient_id }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.medical_info }}</td>
        <td>{{ patient.jobid }}</td>
        <td>{{ patient.client_organization_id }}</td>
    </tr>
    {% endfor %}
</table>
</body>
</html>